body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    align-items: center;
    background-color: #0078D4;
    color: white;
    padding: 10px 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 1.5em;
    flex: 1;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 600px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    color: white;
    background-color: #0078D4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #005a9e;
}

.email-data {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.email-data p {
    margin: 10px 0;
    font-size: 0.9em;
}

.email-data strong {
    color: #0078D4;
}

.kntrol {
    color: #1b326a;
}

.email {
    color: #fabf48;
}
#signInButton {
    background-color:rgb(3, 33, 108);
    color: #fabf48;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
}

#signInButton:hover {
    background-color: #162d69;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .spinner {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #0078D4;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }